<div style="padding:6px;">
<h2 *ngIf="data.taskData.id ==null || data.taskData.id ==''">Create a Task</h2>
<h2 *ngIf="data.taskData.id !=null && data.taskData.id !=''">Update a Task</h2>
<form (ngSubmit)="onSubmit(taskForm)" #taskForm="ngForm">
  <input matInput type="text" id="id" name="id" [(ngModel)]="data.taskData.id" hidden>
    <div class="mb-3">
      <mat-form-field class="full-width">
        <mat-label>Name</mat-label>
        <input matInput type="text" id="name" name="name" [(ngModel)]="data.taskData.name" required>
      </mat-form-field>
    </div>

    <div class="mb-3" >
      <mat-form-field class="full-width">
        <mat-label>Description:</mat-label>
        <textarea matInput id="description" name="description" [(ngModel)]="data.taskData.description"></textarea>
      </mat-form-field>
    </div>

    <div class="mb-3" >
      <mat-form-field class="full-width">
        <mat-label>Date:</mat-label>
        <input matInput [matDatepicker]="picker" id="dueDate" name="dueDate" [(ngModel)]="data.taskData.dueDate" (value)="data.taskData.dueDateString" required>
        <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
        <mat-datepicker #picker></mat-datepicker>
      </mat-form-field>
      
    </div>
    <div class="mb-3">
      <mat-form-field>
        <mat-label>Select an option</mat-label>
        <mat-select [(ngModel)]="data.taskData.statusId" id="statusId" name="statusId">
          <mat-option *ngFor="let status of statuses" [value]="status.id">{{status.name}}</mat-option>
        </mat-select>
      </mat-form-field>
    </div>
    <button class="submit-button" type="submit">Submit</button>
</form>
</div>