.centered-component {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f2f2;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.container {
    display: flex;
    flex: 1;
    overflow: hidden;
}

.sidebar {
    background-color: #D6B4FC;
    color: white;
    width: 25%;
    padding: 20px;
    box-sizing: border-box;
}

.sidebar h2 {
    margin-top: 0;
}

.RangePicker{
    font-size: 18px;
    margin:6px;
    cursor: pointer;
    transition: box-shadow 0.2s ease;
&:hover{
    box-shadow: 0 0 0 5px #eeeeee;
}
}

.tasks {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.task {
    background-color: white;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

@media only screen and (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .sidebar {
        width: 100%;
    }
}